.Container{    
    width: 1320px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: rgb(0,0,0,0.15);

    
    
    
}
.subcontainer{
    width: 800px;
    margin: 0 auto;
}
.subcontainer div{
    display: inline-block;
    vertical-align: middle;
}
.logo{
    color: #fff;
    font-weight: bolder;
    font-size: 22px;
    width: 100px;
}

.search{
    width: 500px;
}

.search input{
    width: 480px;
    padding: 10px;
    font-size: 16px;
    
}
.action{
    width: 180px;
    
}
.button-action{
    background-color: #0a58ca63;
    color: white;
    border-radius: 10px;
}
.button-action:hover{
    color: cyan;
    
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.actions ul, .actions ul li{
    margin: 0;
    list-style: none;
}
.actions ul li a{
    display: inline;
    padding: 10px;
}

.new-item-panel-container{
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.new-item-panel{
    width: 300px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
}
.new-item-panel p{
    padding: 5px 0;
}